:root{
    --color-pomodoro: #F61E1E ;
    --color-pomodoro-background: #F2EFEC ;
    --color-break: #45C35E;
    --color-break-background: #E9F3E1;
    --color-break-background-hover: #d1d4ce;
    --sound-color-border: rgba(51, 51, 51, 0.3);
    --sound-color-border-hover: rgba(128, 128, 128, 1); 
    --sound-color:rgb(71, 71, 71) ;
    --sound-color-hover: rgb(75, 74, 74);
}

*{
    font-family:"M Plus Rounded 1c", sans-serif;
    background: var(--color-break-background);
}
.App_Container{
    display: flex;
    gap: 12vh;
    transform: translateY(30%);
    justify-self: center;
    align-items: center;
    justify-content: center;
    align-items: center;
}
.PomodoroIcon{
    align-items: center;
    justify-content: center;
    border: 3px solid #45C35E;
    border-radius: 50%;
    padding: 4vh;
    width: 27vh;
}
.PomodoroIcon img{
    background:transparent;
    align-items: center;
    justify-content: center;
    width: 90%;
    cursor:pointer;
    animation-duration: 1.2s;
    animation-name: Floating;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.PomodoroIcon_shadow{
    align-items: center;
    justify-content: center;
    width: 13.5vh;
    height: 1vh;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.45);
    margin-left: 7vh;
    margin-top: 3vh;
    filter: blur(5px);
    animation-duration: 1.2s;
    animation-name: shadowFloating;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.PomodoroControls{
    margin-top: -2vh;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 2vh;
    background-color: transparent;
}
.PomodoroControlsbutton{
    cursor: pointer;
    width: 5vh;
    height: 5vh;
    border-radius: 3.5vh;
    background-color: var(--color-break);
    border: none;
    margin: 0px;
}
.PomodoroControlsbutton:hover{
    transform: scale(1.2);
    transition: transform 0.1s ease-in-out;
}
#middleButton{
    margin-top: 9%;
    width: 7vh;
    height: 7vh;
}
.PomodoroControlsImg{
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 100%;
}

.Timer{
    margin-top: 3vh;
    display: grid;
    gap: 1vh;
    place-items: center;
    text-align: center;
    align-items: center;
}
.currentTask{
    color: var(--color-break);
    text-align: center;
    font-size: 3.8vh;
    font-weight: 500;
}
.timerCount{
    color: black;
    width: fit-content;
    font-weight: bolder;
    font-size: 17vh;
    text-align: center;
    padding: 0;
    margin: 0px;
    margin-bottom: 9vh;
}
.timerControls_Pomodoro{
    display: flex;
    gap: 1vh;
}
.timerControls{
    color: white;
    font-weight: 600;
    font-size: 1em;
    border: none;
    background-color: #45C35E;
    min-width: 16vh;
    min-height: 5vh;
    padding-left: 3vh;
    padding-right: 3vh;
    border-radius: 25px;
    cursor: pointer;
}
.timerControls_Pomodoro button:hover{
    filter: contrast(120%);
    transform: scale(1.08);
}
.musicControl{
    color: var(--sound-color);
    text-align: center;
    font-size: smaller;
    border: var(--sound-color-border) 1px solid;
    border-radius: 20px;
    gap: 2.5vh;
    margin-top: 2vh;
}
.musicControl button{
    font-size: smaller;
    font-weight: 500;
    color: var(--sound-color);
    background-color: transparent;
    border: none;
    gap: 2.5vh;
    display: flex;
}
.musicControl Img{
    background-color: transparent;
    width: 3vh;
    cursor: pointer;
}
.songsList {
    margin-bottom: 1.5vh;
    justify-items: left;
    background: transparent;
}
.songsList li{
    margin-left: 3vh;
    cursor: pointer;
    list-style-type: none;
    background: transparent;
    font-size:small;
}
.songsList li:hover{
    transition: transform 0.2s ease-in-out;
    background-color: rgb(221, 221, 221);
}
@keyframes Floating{
    from{

    }to{
        transform: translateY(12px);
    }
}
@keyframes shadowFloating{
    from{

    }to{
        transform: scaleX(0.7);
        background: rgba(0, 0, 0, 1);
    }
}